In [7]:
import pandas as pd

data = pd.read_csv("../../DataSets/diabetes.csv")

# data.head()
data.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [8]:
# data["BMI"]
data["Age"]

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int64

In [ ]:
data.iloc[0:2, 1:4]

   Glucose  BloodPressure  SkinThickness
0    148.0           72.0           35.0
1     85.0           66.0           29.0

In [ ]:
data.iloc[0,1:2]

Glucose    148.0
Name: 0, dtype: float64

In [ ]:
# data[data["Outcome"]>0.01]
data[data["BMI"]> 40.0]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
16,0.0,118.0,84.0,47.0,230.0,45.8,0.551,31,1
18,1.0,103.0,30.0,38.0,83.0,43.3,0.183,33,0
41,7.0,133.0,84.0,0.0,0.0,40.2,0.696,37,0
43,9.0,171.0,110.0,24.0,240.0,45.4,0.721,54,1
...,...,...,...,...,...,...,...,...,...
744,13.0,153.0,88.0,37.0,140.0,40.6,1.174,39,0
746,1.0,147.0,94.0,41.0,0.0,49.3,0.358,27,1
747,1.0,81.0,74.0,41.0,57.0,46.3,1.096,32,0
753,0.0,181.0,88.0,44.0,510.0,43.3,0.222,26,1
761,9.0,170.0,74.0,31.0,0.0,44.0,0.403,43,1

In [ ]:
# data.sort_values("Outcome", ascending=False)
data.sort_values("BMI", ascending=True)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
81,2.0,74.0,0.0,0.0,0.0,0.0,0.102,22,0
371,0.0,118.0,64.0,23.0,89.0,0.0,1.731,21,0
426,0.0,94.0,0.0,0.0,0.0,0.0,0.256,25,0
145,0.0,102.0,75.0,23.0,0.0,0.0,0.572,21,0
522,6.0,114.0,0.0,0.0,0.0,0.0,0.189,26,0
...,...,...,...,...,...,...,...,...,...
125,1.0,88.0,30.0,42.0,99.0,55.0,0.496,26,1
673,3.0,123.0,100.0,35.0,240.0,57.3,0.880,22,0
445,0.0,180.0,78.0,63.0,14.0,59.4,2.420,25,1
177,0.0,129.0,110.0,46.0,130.0,67.1,0.319,26,1
768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42,98000

In [ ]:
# data.loc[2:4, ["Outcome", "Glucose"]]
data.loc[2:4, ["BMI"]]

    BMI
2  23.3
3  28.1
4  43.1

In [ ]:
# x = data.groupby("Glucose")
# y = x["Age"].count()
# y

data.groupby("Glucose")["Age"].count()

Glucose
0      5
44     1
56     1
57     2
61     1
      ..
195    2
196    3
197    4
198    1
199    1
Name: Age, Length: 136, dtype: int64

In [ ]:
# data.drop("Outcome", axis=1, inplace=True)
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [30]:

# data.loc[len(data)]={
#     "Age":42,
#     "Outcome":98000
# }

# data.loc[len(data)] = {
#     "Age":32,
#     "Outcome": 225582
# }
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33
...,...,...,...,...,...,...,...,...
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30
766,1.0,126.0,60.0,0.0,0.0,30.1,0.349,47
767,1.0,93.0,70.0,31.0,0.0,30.4,0.315,23
768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32
769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32

In [32]:
data.isna()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
765,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False
768,True,True,True,True,True,True,True,False
769,True,True,True,True,True,True,True,False

In [36]:
data.dropna()
# data.count()
# data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63
764,2.0,122.0,70.0,27.0,0.0,36.8,0.340,27
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30
766,1.0,126.0,60.0,0.0,0.0,30.1,0.349,47
767,1.0,93.0,70.0,31.0,0.0,30.4,0.315,23

In [37]:
data.fillna("siyamak")

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33
...,...,...,...,...,...,...,...,...
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30
766,1.0,126.0,60.0,0.0,0.0,30.1,0.349,47
767,1.0,93.0,70.0,31.0,0.0,30.4,0.315,23
768,siyamak,siyamak,siyamak,siyamak,siyamak,siyamak,siyamak,32
769,siyamak,siyamak,siyamak,siyamak,siyamak,siyamak,siyamak,32

In [ ]:
data.to_csv("siyamak.csv")